:root{
    --principalColor: #164749;
    --lighterPrincipalColor: #508c8e;
    --darkerPrincipalColor: #0f3031;
  }

.card-item-gral {
    margin-left: 15px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(40, 5, 109, 0.19);
}

.card-item a img {
    width: 95%;
    height: 95%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.card-item-button a {
    color: var(--principalColor);
    text-decoration: none;
}

.card-item-button a:visited {
    color: var(--lighterPrincipalColor);
    text-decoration: none;
}

.icon-new {
    color: var(--principalColor);
    position: absolute;
    font-size: 2rem !important;
}

.card-item a img:hover {
    opacity: 0.8;
}

.modal-div {
    display: grid; 
    align-content: center; 
    justify-content: center;
}

.modal-div div {
    display: flex;
    justify-content: space-between;
    justify-self: auto;
    align-items: center;

}

.modal-div img {max-width: 100%;height: auto;width: 500px;}

.card-item {display: flex;flex-direction: column;}

.card-item p {font-size: 18px;font-weight: 700;margin-top: 10px;margin-bottom: 10px;}

.card-item span {margin-bottom: 10px;font-size: 16px;}

.card-item div button {margin: 10px 15px;} 

/* #buttonCart {
    background-color: var(--principalColor);
} */
